
/* Nav & Header ===========================================================*/
.nav-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-events-list{
  width: 100px;
  margin: 10px;
  color: blue
}

.title-picture-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pageTitle {
  color: green;
  width: 100%;
  text-align: center;  
}

.money-picture{
  width: 300px;
  margin: 10px
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
}

/* Homepage Event Table ===================================================== */

.main-container-events{ /*main container for all cards and table headers*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 20px;
  margin-left: 12px;
  margin-right: 12px;
  background-color: rgb(43, 226, 156);
}

.categories{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.category-buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.table-header{
  display: flex;
  justify-content: flex-start;
  margin-left: -3px;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  background-color: rgb(224, 252, 252);
  border: 2px solid black;
  border-radius: 3px;
}

/* table titles =================================================*/

.category-name-title{
  display: flex;
  justify-content: center;
  font-size: medium;
  width: 80px;
  margin-left: 20px;
  flex-grow: 1;
}

.event-name-title{
  font-size: medium;
  margin-left: 20px;
  width: 250px;
  flex-grow: 1;
}

.cost-title{
  font-size: medium;
  margin-left: 20px;
  width: 50px;
  flex-grow: 1;
}

.deleteBtn-title{
  width: 50px;
  flex-grow: 1;
}

.editBtn-title{
  width: 50px;
  flex-grow: 1;
}
/* cards list ============================================================= */
.cards-container{
  list-style-type: none;
  padding: 0;
  display: flex;
  margin: 10px;
  margin-right: 14px;
  justify-content: flex-start;
  flex-direction: column;
}
.card{
  display: flex;
  align-items: center;
  width: 100%;
  border: 2px solid black;
  border-radius: 3px;
  background-color: rgb(129, 201, 129)  
}

.card-category-name{
  width: 80px;
  margin: 10px;
  background-color: bisque;
  border-radius: 3px;
  text-align: center;
  flex-grow: 1;
}

.card-event-name{
  margin: 10px;
  width: 250px;
  flex-grow: 1;
}

.card-cost{
  width: 50px;
  background-color: white;
  border-radius: 3px;
  flex-grow: 1;
}

.deleteBtn{
  margin-left: 12px;
  display: flex;
  justify-content: center;
  width: 30px;
  flex-grow: 1;
}

.editBtn{
  margin-left: 12px;
  display: flex;
  justify-content: center;
  width: 30px;
  flex-grow: 1;
}

/* AddNew Component============================================================= */
.add-new-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(118, 184, 118);
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  padding-bottom: 15px;
  border-radius: 3px;
}

.add-new-event-title{
  width: 50%;
  text-align: center;
  background-color: rgb(219, 214, 214);
  border-radius: 3px;
}

.dropdown-container{
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.dropdowm-label{
  text-align: center;
  margin-right: 10px;
}

.input-container{
  display: flex;
  justify-content: center;
  margin: 5px
}

.add-new-text-area{
  margin: 5px
}

.submit-container{
  display: flex;
  justify-content: center;
  margin: 10px
}
/* Edit component ============================================== */

/* same as AddNew component */

