* {
  margin: 0;
  padding: 0;
}
/* Nav & Header ===========================================================*/
.nav-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-events-list{
  width: 100px;
  margin: 10px;
  color: blue
}

.title-picture-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pageTitle {
  color: green;
  width: 100%;
  text-align: center;  
}

.money-picture{
  width: 300px;
  margin: 10px
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
}
/* Event list =========================================================== */

.table-header{
  display: flex;
  flex-direction: row;
  gap: 10px;
  gap: 10px 20px; /* row-gap column gap */
  row-gap: 20px;
  column-gap: 40px;
  justify-content: space-between;
  align-items: center;
}

.category-header{
  margin: 10px;
  width: 50px;
  font-size: small;
}

.event-header{
  width: 300px;
}

.cost-header{
  width: 500px;
}

.card{
  display: flex;
  flex-direction: row;
  gap: 10px;
  gap: 10px 20px; /* row-gap column gap */
  row-gap: 20px;
  column-gap: 40px;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(180, 170, 170);
  border: 5px;
}

.card-category-name{
  margin: 10px;
  width: 50px;
  font-size: small;
  /* background color dependent upon category */
}

.card-event-name{
  width: 300px;
}

.card-cost{
  width: 100px;
}

.deleteBtn{
  /* add hover */
  width: 100px;
}

.editBtn{
  margin: 10px;
  width: 100px;
}

/* AddNew ==================================================================== */
.add-new-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.add-new-event-title{
  width: 100%;
  text-align: center;
}

.dropdown-container{
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.dropdowm-label{
  text-align: center;
}

.input-container{
  display: flex;
  justify-content: center;
}


